---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/cards/ProjectCard.astro";
import BackHomeBtn from "@/components/buttons/BackHome.astro";
import projectCardsData from "@/assets/data/projectCards";
---
<Layout>
  <div class="flex justify-center items-center flex-col p-4">
    <div class="flex flex-col gap-4 my-5">
      <h1 class="text-[#fff] font-geist font-bold uppercase text-4xl">Projects</h1>
      <BackHomeBtn />
    </div>  
    <div class="md:max-w-5xl grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 motion-preset-slide-up">
      {
        projectCardsData.map(({ title, description, img, badges, codeSrc, demoSrc }) => (
          <ProjectCard
            title={title}
            description={description}
            img={img}
            badges={badges}
            codeSrc={codeSrc}
            demoSrc={demoSrc}
          />
        ))
      }
    </div>
  </div>
</Layout>
